<script type="application/json" id="bootstrapped_course_json">
  <%=@courses.to_json.html_safe %>
</script>
<header></header>

<div class="content-container">
  <div class="sidebar">
  </div>
  <div class="view">
  </div>
</div>
<footer></footer>