/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
/*  background-color: red;*/
/*  font-family: "Lato", "Helvetica Neue", open-sans;*/
  font-family: 'Koufiya',Georgia,serif;
}

body {
  overflow: hidden;
}

header {
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  display: block;
/*  background: rgb(235, 235, 235);*/
}

.versal-logo {
  /*height: 100%;
  width: 30%;*/
  height: 30px;
  width: 142px;
  background-image: url('/images/versal-logo.png');
  background-size: 142px 30px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
/*  background: red;*/
  display: inline-block;
  font-family: 'AvenirNext',Verdana,Geneva,'DejaVu Sans',sans-serif;
  font-size: 1.5em;
  color: #524e47;
}

.user-log-in {
  height: 100%;
  width: 30%;
  float: right;
/*  background: blue;*/
  display: inline-block;
}

.content-container {
  height: 80%;
  width: 100%;
  display: block;
  position: fixed;
  top: 10%;
  left: 0%;

}

.sidebar {
  height: 100%;
  width: 25%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-left: 5%;
/*  margin-bottom: 10%;*/
}

.view {
  height: 100%;
  width: 65%;
/*  background: blue;*/
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
/*  margin-right: 5%;*/
/*  overflow:scroll;*/
/*  margin-bottom: 10%;*/
}

.course-title-show {
  height: 10%;
/*  width: 100%;*/
/*  background: red;*/
  display:block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  border-bottom: 1px solid #e2e2e2;
}

.course-title {

  font-size: 2em;
}

.course-show {
  height: 89%;
  width: 100%;

}

.sidebar-lesson-title {
  font-size: 1em;
  display: inline-block;
}

.content-lesson-title {
  font-size: 1.5em;
}

.sidebar-sublesson-title {
  font-size: .9em;
}

.content-sublesson-title {
  font-style: italic;
}

.lesson-title-show {
/*  margin-top: 20%;*/
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.sublesson-title-show {
  height: 5%;
  width: 100%;
  background: transparent;
  display: block;
}

.content-show {
  height: 100%;
  width: 100%;
  display: block;
  overflow: scroll;
}

.container {

  display: block;
  position: relative;

}

footer {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0%;
  background: rgb(235, 235, 235);
  display: block;
  text-align: center;
  line-height: 100%;
}
/*
.made-by {
  line-height: 100%;
}
*/
.lock {
  display: inline-block;
  font-size:1em;
}

.all-content-text {
  margin-right: 10%;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 5%;
}

a:hover {
  color: rgb(112, 214, 90);
}