/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
/*  background-color: red;*/
}

header {
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  display: block;
  background: rgb(235, 235, 235);
}

.content-container {
  height: 80%;
  width: 100%;
  display: block;
  position: fixed;
  top: 10%;
  left: 0%;
}

.sidebar {
  height: 100%;
  width: 20%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-left: 5%;
}

.view {
  height: 100%;
  width: 70%;
  background: red;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
  margin-right: 5%;
}

.course-title-show {
  height: 5%;
  width: 100%;
  background: red;
}

.lesson-title-show {
  height: 95%;
  width: 100%;
}

.sublesson-title-show {
  
}

.content-show {
  
}

footer {
  height: 10%;
  width: 100%;
  position: fixed;
  top: 90%;
  left: 0%;
  background: rgb(235, 235, 235);
}